name: Data Refresh

on: [push, pull_request]
  #schedule:
  #  - cron:  '0 */6 * * *'
jobs:
  build:
    name: refresh covid19swiss dataset
    runs-on: macOS-latest
    steps:
      - name: checkout_repo
        uses: actions/checkout@v2
      - name: set_R
        uses: r-lib/actions/setup-r@master
        with:
          repository: ${{ github.repository }}
          ref: 'master'
          token: ${{ github.token }}
          clean: 'true'
          fetch-depth: '1'
      - name: Install jq
        run: brew install jq 
      - name: Install dependencies
        run: Rscript -e "install.packages(c('remotes', 'rcmdcheck', 'dplyr', 'tidyr', 'rnaturalearth','sp', 'rgeos'))" -e "remotes::install_deps(dependencies = TRUE)"
      - name: Install geo packages
        run: Rscript -e "install.packages(c('rnaturalearthhires'))"
      - name: Refresh the data
        run: Rscript ./data_raw/pull_data.R
      - name: Push covid19swiss data
        if: success()
        run: |
          if [[ "$(git status --porcelain)" != "" ]]; then
              git config --global user.name 'RamiKrispin'
              git config --global user.email 'ramkrisp@umich.edu'
              git commit -am "Update italy total data"
              git push
          fi
